/***************************
    CUSTOM SCROLL BAR
****************************/
*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#000;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#101010;
    /* --primary:linear-gradient(145deg,#002347,#3399ff); */
    --primary_dark:#b6126e;
    --primary_lite:#630038;
    --secondary:#3ab068;
    --default_font:'Mukta', sans-serif;
    --title_font:'Kanit', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}





/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

em{
    font-style:normal;
    color:var(--primary_lite);
}

ul{
    padding:0;
}

figure{
    padding:0;
    margin:0;
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    color:var(--black);
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}



.title, .sub_title{
    font-family:var(--title_font);
    font-weight:400;
    margin:0;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:3.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.1em;
}

.btn{
    padding:1rem;
    border-radius:5px;
    color:var(--white);
    position:relative;
    border:0;
    text-align:center;
    font-weight:500;
}

.btn_1{
    background:var(--primary_lite);
    color:var(--dark) !important;
}

.btn_1:hover{
    opacity:0.8;
}

.btn_2{
    background-color:#fdc632;
    color:var(--dark) !important;
}

.btn_2:hover{
    opacity:0.8;
    color:var(--dark);
}

.btn_3{
    display:flex;
    background-color:0;
    color:var(--white);
    position:relative;
    font-family:var(--default_font);
    font-weight:400;
    text-transform:uppercase;
}

.btn_3:before{
    content:"";
    border-radius:50%;
    background-color:var(--primary_dark);
    position:absolute;
    left:0;
    top:50%;
    width:50px;
    height:50px;
    transition:0.5s;
    transform:translate(0%, -50%);
}
.btn_3 p{
    z-index: 99999;
    position: relative;
}

.btn_3:after{
    content:"\2192";
    margin-left:5px;
    z-index: 9;
    color: #fff;
}

.btn_3:after:hover{
    color: #fff!important;
}

.btn_3:hover:before{
    border-radius:40px;
    width:100%;
}

.divisions{
    position:relative;
}

.title_header{
    margin:auto;
    text-align:center;
    width:60%;
}

.ball:before{
    content:"";
    border-radius:50%;
    background-color:rgba(1,1,1,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:30px;
    height:30px;
    transform:translate(-50%, -50%);
}

.link-tag{
    position:relative;
    color:var(--black);
}

.link-tag:before{
    content:"\f0da";
    font-family:"Font Awesome 6 Free";
    margin-right:5px;
    transition:0.5s;
    color:var(--primary);
}

.link-tag:hover:before{
    margin-right:10px;
    color:var(--black);
}

.link-tag:hover{
    color:var(--primary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }

    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }

    .big{
        font-size:1.8em;
    }

    .medium{
        font-size:1.6em;
    }

    .small{
        font-size:1.1em;
    }

    .btn{
        padding:0.5rem 1rem;
    }

    a, p, .btn{
        font-size:12px;
    }

    .title_header{
        width:100%;
    }
}





/*NAV*/
nav{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
    padding:0.2rem 2rem;
    z-index:99;
    white-space:nowrap;
    transition:0.5s;
    color:var(--lite);
    background-color:var(--white);
    transition:0.5s;
}

.fixed_nav{
    width:100%;
    position:fixed;
    top:0;
    box-shadow:0px 6px 16px -6px var(--gray);
    animation: fixed_nav 1s linear 1;
}

nav a{
    padding:0.8rem 0;
    color:var(--gray);
    margin:0 1.5rem;
    text-transform:uppercase;
    font-weight:400;
    position:relative;
    white-space:nowrap;
}

nav .active{
    color:var(--primary_lite) !important;
    border-bottom:2px solid var(--primary_lite);
}

.logo{
    font-size:1.6em;
    align-items:center;
    margin-top:10px;
    color:var(--primary_dark);
}

.logo img{
    width:100px;
    border-radius:50%;
    margin-right:5px;
}

.logo em{
    font-weight:800
}

.logo sub{
    font-size:12px;
    position:relative;
    top:5px;
}

.logo figcaption{
    font-size:15px;
    text-align:center;
    color:var(--primary);
    font-weight:300;
}

.logo figcaption strong{
    display:block;
    font-size:25px;
    position:relative;
    text-decoration: underline;
    line-height:1;
    font-weight:800;
}
.streched{
    font-size: 16px;
    letter-spacing: 2px;

}

nav .flex_content:nth-child(2) a:after{
    transition:0.5s;
    content:"";
    position:absolute;
    left:0;
    width:0;
    top:100%;
    height:2px;
    background:var(--primary_lite);
}

nav a:hover{
    color:var(--primary_lite);
}

nav .flex_content:nth-child(2) a:hover:after{
    width:100%;
}

nav .ham{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    border:2px solid var(--gray);
    width:40px;
    height:40px;
    color:var(--gray);
    float:right;
    margin-right:0;
}

nav .ham:hover{
    border:2px solid var(--primary_lite);
}

.top_menu{
    background-color:var(--primary_dark);
    padding:0.1rem 3rem;
    margin:0;
    align-items:center;
    justify-content:center;
}

.top_menu .flex_content:last-child{
    text-align:right;
}

.top_menu a{
    color:var(--lite);
    font-size:14px;
    white-space:nowrap;
}

.top_menu a:not(:last-child){
    margin-right:20px;
}

.top_menu a .fa{
    margin-right:5px;
}

.side_menu{
    width:400px;
    background-color:var(--dark);
    z-index:999;
    position:fixed;
    top:0;
    right:-400px;
    overflow:hidden;
    height:100vh;
    overflow-y:auto;
    transition:0.5s;
    padding:2rem 2rem;
    margin:0;
    color:var(--white);
}

.side_menu h4{
    line-height:1.6em;
}

.overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    transition:0.5s;
    opacity:0;
    z-index:-1;
    background-color:var(--gray);
}

.close{
    float:right;
    border:2px solid var(--lite);
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:30px;
    height:32px;
    padding:0.5rem;
    color:var(--lite);
    position:absolute;
    top:5%;
    right:5%;
}

.close:hover{
    color:var(--white);
    border:2px solid var(--white);
}

.side_menu li{
    padding:0.4rem 0;
    list-style:none;
}

.side_menu li a{
    color:var(--lite);
}

.side_menu li a:hover{
    color:var(--white);
}

.side_menu ul:last-child li:not(:last-child) a:hover:before{
    margin-right:10px;
}

.side_menu .btn{
    display:block;
    padding:0.5rem 1rem;
}

.side_menu .btn:first-child{
    margin-right:5px;
}

.side_menu ul:last-child li:not(:last-child) a:before{
    content:"\f0da";
    font-family:"Font Awesome 6 Free";
    margin-right:5px;
    transition:0.5s;
}

.side_menu ul li .fa{
    margin-right:5px;
    color:var(--white);
}

.dropdown{
    position:relative;
}

.dropdown aside{
    position:relative;
    width:100%;
    left:1rem;
    display:none;
}

.dropdown aside a{
    display:block;
    padding:0.3rem 0;
}

.nav_content a{
    font-size: 14px;
    padding: 2px;
    margin: 8px;
    text-transform: capitalize;
}


@media (max-width:920px){
    .top_menu{
        justify-content:center;
        text-align:center;
        padding:0.1rem 1rem;
    }

    .top_menu .flex_content:last-child{
        display:none;
    }

    nav{
        padding:0.5rem 1rem;
        z-index:999;
    }

    nav .ham{
        width:30px;
        height:30px;
    }

    nav .nav_content{
        width:200px;
        background-color:var(--dark);
        z-index:999 !important;
        position:fixed;
        top:0;
        right:-200px;
        overflow:hidden;
        height:100%;
        transition:0.5s;
    }


    .side_menu{
        width:100%;
        right:-120%;
    }

    .side_menu li{
        padding:0.4rem 0;
    }

    .logo{
        margin-top:5px;
    }

    .logo img{
        font-size:1.3em;
        margin-top:0;
        width:40px;
    }
}




/***************************
               FOOTER
****************************/
footer{
    background-color:#630038;
    color:var(--lite);
    position:relative;
}

.footer_body{
    padding-top:3rem;
}

.footer_body .flex_content:first-child{
    width:180%;
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer .logo{
    color:var(--white);
}

footer .logo img{
    width:50px;
}

footer .logo figcaption strong{
    margin-bottom:3px;
}

footer a{
    color:var(--lite);
    display:block;
    margin:10px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#fff;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2{
    background-color:var(--primary_dark);
    color: #fff !important;
    }

footer fieldset .btn_2:hover{
    background-color:var(--primary_dark);
    border:0;
    color:#fff !important;
}

footer .flex_content:nth-child(2) a:before, footer .flex_content:nth-child(3) a:before{
    content:"\003E";
    margin-right:10px;
}

footer .flex_content:nth-child(2) a:hover, footer .flex_content:nth-child(3) a:hover{
    margin-left:5px;
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--primary_lite);
    color:var(--gray);
}


@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }

    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer{
        margin-top:5rem;
        padding:0 !important;
    }

    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}




/*HEADER*/
.banner{
    width:100%;
    background:linear-gradient(to right, rgba(1,1,1,0.9) 10%, rgba(1,1,1,0.5) 50%, rgba(1,1,1,0.1) 100%), url("../images/banner.png");
    background-size:cover;
    background-position:left;
    align-items:center;
    justify-content:left;
    color:var(--white);
    position:relative;
}

.banner article{
    width:100%;
    padding:13rem 2rem;
}

.banner article .title{
    font-weight:700;
}

.banner section{
    background-color:var(--white);
    width:90%;
    position:absolute;
    bottom:-5rem;
    left:50%;
    transform:translate(-50%, 2rem);
}

.banner section aside{
    position:relative;
}

.banner section aside a{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0.2rem;
    border-radius:50%;
    background-color:var(--white);
    bottom:-15px;
    width:30px;
    height:30px;
    left:50%;
    transform:translate(-50%, 0);
    border:1px solid var(--gray);
}

.banner section aside:nth-child(1){
    background-color:#ee4500;
}

.banner section aside:nth-child(2){
    background-color:#f5ab35;
}

.banner section aside:nth-child(3){
    background-color:var(--primary_lite);
}

@media (max-width:920px){
    .banner article{
        width:100%;
        padding:4rem 1rem;
    }

    .banner section{
        position:static;
        width:100%;
        transform:none;
        padding:1rem;
    }

    .banner section aside{
        flex: 1 1 100%;
        margin:1% 0;
    }

    .banner section aside a{
        position:relative;
        transform:none;
        background-color:none;
        border:0;
        padding:0;
        width:0;
        height:0;
        top:0;
        left:0;
        color:var(--white);
    }

    .banner section aside a:before{
        content:"Explore";
        margin-right:5px;
        color:var(--white);
    }
}



.ball:nth-child(1){
    width:30px;
    height:30px;
    left:10%;
    top:5%;
    animation: arrows 10s 0s infinite;
}

.ball:nth-child(2){
    width:30px;
    height:30px;
    right:10%;
    bottom:5%;
    animation: arrows 10s 0s infinite;
}

.ball:nth-child(3){
    width:50px;
    height:50px;
    left:50%;
    top:20%;
    transform:translate(-50%, -20%);
    animation: arrows 10s 0s infinite;
}

.ball:nth-child(4){
    width:50px;
    height:50px;
    left:3%;
    bottom:0%;
    animation: arrows 15s 0s infinite;
}









/*Transparent text background*/
.stroke{
    color:transparent;
    -webkit-text-stroke: 1.5px var(--primary_lite);
}


/*Custom cursor coloring*/
.cursor--expand {
    animation: cursor-animate-3 550ms forwards;
    border: 10px solid rgb(var(--primary_dark));
}

.cursor--expand::after {
    border: 15px solid rgba(var(--primary_dark), .3);
}


/*Scroller*/
.cs-down{
    position: absolute;
    height: 35px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid var(--white);
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    z-index:11;
}

.cs-down:before{
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--white);
    -webkit-animation: UpAndDown 3s infinite;
    animation: UpAndDown 3s infinite;
}

@-webkit-keyframes UpAndDown {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 70%;
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes UpAndDown {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 70%;
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }
}


/*ZOOM IN*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}





/*RIPPLE*/
.ripple {
    border-radius: 100%;
}

.ripple::after {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--primary);
    border-radius: 100%;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }
    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }
    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}



.bar{
    display:block;
    height: 5px;
    width: 100px;
    background: var(--primary);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto 20px 0;
}

.bar:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--white);
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}

@keyframes MOVE-BG{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(105px);
        transform: translateX(105px);
    }
}

.bar_blue, .bar_white{
    display:block;
    width:100px;
    height:3px;
}

.bar_blue{
    background-color:#ef4a4a;
}

.bar_white{
    background-color:var(--white);
}


/*Ripple effect*/
@-webkit-keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}




@keyframes arrows {
    0%, 100% {
        color: black;
        transform: translateY(0);
    }
    50% {
        color: #3AB493;
        transform: translateY(20px);
    }
}

@keyframes fixed_nav {
    0%, 100% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}





/* homepage */
.bf-content-wrapper{
    padding: 10px;
}

.bf-bg-primary{
background-color: #F8F5EF;
}

.bf-title-primary{
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 20px;
    font-weight: 600;
}


.bf-mission{
    background-image: url(/assets/images/m-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bf-m-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
}

.bf-mission .container{
    position: relative;
    z-index: 9;
}

.ac-activity-card{
    border: none;
}

.bf-w-card{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    height:210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    margin-top: 10px;
}
.bf-w-card p{
    padding: 0;
    margin: 0;
}
.ac-activity-card{
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bf-w-card img{
    height: 60px;
    padding-bottom: 10px;
}


/* owl carousel */
.owl-stage{
    position: relative;
}
.owl-item{
    width:auto;
}


.owl-nav img:nth-child(1){
    width: 30px;
}


.owl-prev, .owl-next {
    position: absolute;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}
.owl-prev{
    left: 15px;
}
.owl-next{
    right: 15px;
}
.owl-prev:hover , .owl-next:hover{
    background: transparent !important;
    opacity: 0.9;
}
.owl-dots{
    position: absolute;
    bottom: -50px;
    left:50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 5px 5px 2px 5px;
    border-radius: 20px;
    opacity: 0.7;
}
.owl-dot:hover span{
    background: lightyellow!important;
}
 .active  span {

    background: var(--primary_dark) !important;
}
.owl-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bf-core-values .owl-theme .owl-nav{
    margin: 0;
}

.bf-footer-slider img{
    object-fit: contain;
}

.owl-theme .owl-dots .owl-dot span{
    color: var(--primary_dark);
}
.active span{
    color: var(--primary_dark)!important;
}


.bf-footer-logo img{
    filter: grayscale(100%) invert(100%);
}
